<section id="about-section" class="section-sizing">
    <div id="about-text" class="container light-text">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12">
        <div id="about-text-head" class="text-center">
            <h2>Helloooooooooo</h2>
        </div>
        <div id="about-text-body">
            <img src="assets/img/me.jpg" class="img-fluid" alt="profile picture" id="profile-pic">
            <p>
                Hey there, I am Jonathan Chin, a New York City based web developer who dabbles in code <em>a lot</em>. I work across the JavaScript stack, mostly along the MERN one or one of those fancy acronyms. Technology has the weird power to not only make cool things but to be impactful at the same time. With that in mind, I hope to build awesome projects/applications/tools that'll be impactful.
            </p>
            <p>
                I love working with other, as I feel collaboration is where awesome ideas are born. I always strive to learn new technologies while also constantly looking to master the ones I'm familiar with.
            </p>
            <p>
                Outside of my coding ventures, I love to write about music. You can read up on what I am currently digging on <a target="_blank" href="http://www.cerealandsounds.com/">Cereal + Sounds</a>, a blog that I co-manage with my friend Nadine. 
            </p>
        </div>
        <div id="about-preferences">
        </div>
        </div>
    </div>
    </div>

</section>