<section id="about-section" class="section-sizing">
    <div id="about-text" class="container light-text">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12">
                <div id="about-text-head" class="text-center">
                    <h3 class="display-3">Hello</h3>
                </div>
                <hr />
                <div id="about-text-body">
                    <div>
                        <p>
                            Hey there, I am Jonathan Chin, a New York City-based web developer who dabbles in the code <em>a lot</em>. I work across the JavaScript stack, mostly along the MERN one or one of those fancy acronyms. Technology has the weird power to not only make cool things but to be impactful at the same time. With that in mind, I hope to build awesome projects/applications/tools that'll be impactful.
                        </p>
                        <p>
                            Mostly working with JavaScript, I never feel that the one technology is the answer to every problem. Being able to pivot or learn something new are things I try to achieve almost every day. I enjoy working with other, as I feel collaboration is where awesome ideas are born.
                        </p>
                        <p>
                            Outside of my coding ventures, I love to write about music. You can read up on what I am currently digging on <a target="_blank" href="http://www.cerealandsounds.com/">Cereal + Sounds</a>, a blog that I co-manage with my friend Nadine. 
                        </p>
                    </div>
                </div>
                <hr />
                {{> now}}
        </div>
    </div>
    </div>

</section>