<section id="work-section" class="section-sizing">
  <div class="container">
    <div class="card-columns">
      <div class="card">
        <a target="_blank" href="http://bitsie.herokuapp.com/">
          <img class="card-img-top img-fluid" id="project-bites" alt="Card image cap" src="assets/img/work-items/original/bite-900.png">
        </a>
        <div class="card-block">
          <h4 class="card-title">Bites</h4>
          <p class="card-text">A web application created to find cheap eats in NYC.</p>
          <p>
            <h6>built with:</h6>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">node.js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">firebase</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">jquery</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">google maps api</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">yelp api</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">heroku</a>
          </p>
          <p class="projects-collaborators">
            <h6>collaborators:</h6>
            <a href="https://github.com/bklynate" target="_blank" class="btn btn-secondary btn-sm btn-info" role="button" aria-disabled="true">Nathaniel Quashie</a>
            <a href="https://github.com/jgulo" class="btn btn-secondary btn-sm btn-info" role="button" target="_blank">Jonathan Gulo</a>
            <a href="https://github.com/mrabanda" class="btn btn-secondary btn-sm btn-info" role="button" target="_blank">Abanda</a>
          </p>
          <footer>
            <a href="https://github.com/chinjon/sliced" target="_blank"><small class="text-muted">github repo</small></a>
          </footer>
        </div>
      </div>
      <div class="card">
        <a target="_blank" href="https://chinjon.github.io/giphy-app/">
          <img class="card-img-top img-fluid" id="project-hangman" src="assets/img/work-items/original/giphy.png" alt="Card image cap">
        </a>
        <div class="card-block">
          <h4>All Da Gifs</h4>
          <p>Gif aggregator utilizing Giphy's public API.</p>
          <p>
            <h6>built with:</h6>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">jquery</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">giphy api</a>
          </p>
          <footer>
            <a href="https://github.com/chinjon/giphy-app" target="_blank"><small class="text-muted">github repo</small></a>
          </footer>
        </div>
      </div>
      <div class="card">
        <a target="_blank" href="https://chinjon.github.io/hangman/">
          <img class="card-img-top img-fluid" id="project-hangman" src="assets/img/work-items/original/mf-doom.jpg" alt="Card image cap">
        </a>
        <div class="card-block">
          <h4 class="card-title">Doom-Man</h4>
          <p class="card-text">A word game based on the offkilter lyrics of MF DOOM.</p>
          <p>
            <h6>built with:</h6>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">jquery</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">howler js</a>
          </p>
          <footer>
            <a href="https://github.com/chinjon/hangman" target="_blank"><small class="text-muted">github repo</small></a>
          </footer>
        </div>
      </div>
      <div class="card card-inverse card-primary p-3 text-center">
        <blockquote class="card-blockquote">
          <h1>Projects</h1>
          <footer><small>Stuff I Made or Helped Make</small></footer>
        </blockquote>
      </div>
      <div class="card">
        <a target="_blank" href="https://github.com/chinjon/node-twitter-bot">
          <img class="card-img-top img-fluid" id="project-node-bot" src="assets/img/work-items/original/twitter.jpg" alt="Card image cap">
        </a>
        <div class="card-block">
          <h4>Bandcamp Bot</h4>
          <p>Twitter bot built to suggest Bandcamp pages upon mentioning bot's Twitter handle.</p>
          <p>
            <h6>built with:</h6>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">node js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">twitter api</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">heroku</a>
          </p>
          <footer>
            <a href="https://github.com/chinjon/node-twitter-bot" target="_blank"><small class="text-muted">github repo</small></a>
          </footer>
        </div>
      </div>
      <div class="card">
        <a target="_blank" href="https://quik-chat.herokuapp.com/">
          <img class="card-img-top img-fluid" id="project-quik-chat" src="assets/img/work-items/original/quik-head.png" alt="Card image cap">
        </a>
        <div class="card-block">
          <h4 class="card-title">Quik Chat</h4>
          <p class="card-text">Web socket driven chat application.</p>
          <p>
            <h6>built with:</h6>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">socket.io</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">node js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">express js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">bulma css</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">heroku</a>
          </p>
          <footer>
            <a href="https://github.com/chinjon/quik-chat" target="_blank"><small class="text-muted">github repo</small></a>
          </footer>
        </div>
      </div>
      <div class="card">
        <a target="_blank" href="https://github.com/chinjon/liri-bot">
          <img class="card-img-top img-fluid" id="project-hangman" src="assets/img/work-items/original/cmd-li-crop.png" alt="Card image cap">
        </a>
        <div class="card-block">
          <h4 class="card-title">LIRI Bot</h4>
          <p class="card-text">Command Line program that runs off user input to return information.</p>
          <p>
            <h6>built with:</h6>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">node js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">spotify api</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">omdb api</a>
          </p>
          <footer>
            <a href="https://github.com/chinjon/liri-bot" target="_blank"><small class="text-muted">github repo</small></a>
          </footer>
        </div>
      </div>
      <div class="card">
        <a target="_blank" href="https://okay-burger.herokuapp.com/">
          <img class="card-img-top img-fluid" id="project-sql-burger" src="assets/img/work-items/original/burger.png" alt="Card image cap">
        </a>
        <div class="card-block">
          <h4 class="card-title">Okay Burger</h4>
          <p class="card-text">Single page web app that serves up data via mySQL.</p>
          <p>
            <h6>built with:</h6>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">node js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">express js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">mysql</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">handlebars js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">heroku</a>
          </p>
          <footer>
            <a href="https://github.com/chinjon/okay-burger" target="_blank"><small class="text-muted">github repo</small></a>
          </footer>
        </div>
      </div>
      <div class="card">
        <a target="_blank" href="http://boiling-earth-56658.herokuapp.com/#/?_k=qfy271">
          <img class="card-img-top img-fluid" id="project-react-weather" src="assets/img/work-items/original/react-weather.png" alt="Card image cap">
        </a>
        <div class="card-block">
          <h4 class="card-title">React(ive) Weather</h4>
          <p class="card-text">Weather application utilziing React JS and the Open Weather API.</p>
          <p>
            <h6>built with:</h6>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">node js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">react js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">express js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">axios</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">foundation css</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">open weather api</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">heroku</a>
          </p>
          <footer>
            <a href="https://github.com/chinjon/react-weather" target="_blank"><small class="text-muted">github repo</small></a>
          </footer>
        </div>
      </div>
      <div class="card">
        <a target="_blank" href="http://safe-harbor-99647.herokuapp.com/#/?_k=kisney">
          <img class="card-img-top img-fluid" id="project-teact-timer" src="assets/img/work-items/original/react-timer.png" alt="Card image cap">
        </a>
        <div class="card-block">
          <h4 class="card-title">React(ive) Time</h4>
          <p class="card-text">Timer application utilziing React JS.</p>
          <p>
            <h6>built with:</h6>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">node js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">react js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">express js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">axios</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">foundation css</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">heroku</a>
          </p>
          <footer>
            <a href="https://github.com/chinjon/react-timer" target="_blank"><small class="text-muted">github repo</small></a>
          </footer>
        </div>
      </div>
      <div class="card">
        <a target="_blank" href="https://crate-digger.herokuapp.com/">
          <img class="card-img-top img-fluid" id="project-teact-timer" src="assets/img/work-items/original/crate-digger.png" alt="Card image cap">
        </a>
        <div class="card-block">
          <h4 class="card-title">Crate Digger</h4>
          <p class="card-text">Gather news on your favorite band(s) on one site.</p>
          <p>
            <h6>built with:</h6>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">node js</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">express</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">mongoDB</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">mongoose</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">uikit css</a>
            <a href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">heroku</a>
          </p>
          <footer>
            <a href="https://github.com/chinjon/band-news-grab" target="_blank"><small class="text-muted">github repo</small></a>
          </footer>
        </div>
       
      </div>
    </div>
  </div>
</section>

 