<section id="contact-section" class="section-sizing">
    <div class="container light-text text-center">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-6 offset-md-3 col-sm-12">
                <div id="contact-header">
                    <h2>Contact Me</h2>
                </div>
                <div id="contact-body">
                    <div class="container">
                        <div class="row">
                                <h5 class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1"><a target="_blank" href="mailto:jonathankchin@gmail.com">Email</a></h5>
                                <h5 class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1"><a target="_blank" href="https://www.linkedin.com/in/jonathankchin/">Linkedin</a></h5>
                                <h5 class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1"><a target="_blank" href="https://github.com/chinjon">Github</a></h5>
                                <h5 class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1"><a target="_blank" href="http://www.cerealandsounds.com/">Cereal + Sounds</a></h5>
                                <h5 class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1"><a target="_blank" href="http://jonathankchin.co/">Blog</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>