<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="column">
                <p class="footer-text">Made With <i class="fa fa-coffee" aria-hidden="true"></i> By Jonathan Chin
                </p>
            </div>
        </div>
    </div>
</footer>