   <footer class="light-text" id="page-footer">
      <div class="container text-center">
        <p><a href="https://github.com/chinjon/jonathankchinDev" target="_blank">Built with anxiety and coffee by <strong>Jonathan Chin</strong></a></p>
      </div>
    </footer>