<div class="jumbotron jumbotron-fluid" id="jumbo-header">
  <div class="container text-center">
      <p class="light-text" id="jumbo-header-text">Full Stack Web Dev</p>
      <p id="jumbo-body-text" class="light-text">JavaScript | HTML | CSS | MERN Stack</p>
</div>

  </div>