<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#" id="nav-name-brand" data-toggle="tooltip" data-placement="bottom" title="click me... or not">Jonathan Chin</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#about-section" data-scroll>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work-section" data-scroll>Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-section" data-scroll>Contact</a>
        </li>
      </ul>
    </div>
  </nav>