<header class="navbar">
    <div class="container">
        <div class="row">
            <div class="column column-80">
                <ul class="nav-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/work">Work</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <div class="column column-15">
                <ul class="navbar-social-links">
                    <li><a href="mailto:jonathankchin@gmail.com" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/chinjon" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    <li><a href="https://codepen.io/chinjon/" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/jonathankchin/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="http://www.cerealandsounds.com" target="_blank"><i class="fa fa-headphones" aria-hidden="true"></i></a></li>
                    <li><a href="https://medium.com/@chinjon" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h2>Jonathan Chin</h2>
            </div>
        </div>
    </div>
</header>