<div id="doing-now-section" >
    <div class="text-center">
        <h3 class="text-center">What I'm Doing Now</h3>
        <p><small><em>updated 4/9/2017</em></small></p>
    </div>
    <div id="doing-now-section-body">
        <ul>
            <li>Finishing up my 6-month web development program at Rutgers University.</li>
            <li>Continue to master the vast almighty powers of JavaScript.</li>
            <li>Looking to jump start my programming career.</li>
            <li>Co-running Cereal + Sounds <small>(<em>hopefully forever</em>).</small></li>
            
            <ul class="list-unstyled">
                <li><strong><em>Stretch Goal(s)</em></strong></li>
                <li>Learn new programming langauges:</li>
                    <ul>
                        <li>Ruby <small>(and then Rails)</small></li>
                        <li>Python</li>
                        <li>Crystal <small><em>LOOKS SO COOL</em></small></li>
                    </ul>
            </ul>
        </ul>
    </div>
</div>