<div class="row">
            <div class="column column-60 column-offset-20">
                <h4>What I'm Doing Now:</h4>
                <p>
                    Actively seeking new opportunity, ideally a junior - middle role as a full stack developer. I am open to freelance work and contract work. Feel free to email me.
                </p>
                <p>
                    Co-managing <a href="http://cerealandsounds.com" target="_blank"><strong><u>Cereal + Sounds</u></strong></a>.
                </p>
                <p>
                    Starting a JavaScript meetup group called <a href="https://yojs.github.io/yojs-io/" target="_blank"><strong><u>YoJS</u></strong></a> which is based in Yonkers, NY.
                </p>
                <p>
                    Learning a bevy of topics like ReactJS w/ Redux and diving into Golang, <u><a href="https://medium.com/@chinjon/teaching-myself-golang-by-summers-end-7d8633d997e0" target="_blank">where I (sorta) pledge to learn by summer's end</a></u>.
                </p>
            </div>
        </div>