.grid-item {
  border: 3px #000 solid;
  width: 250px;
  height: 250px;
}

.grid-item--width2 { width: 500px;}
.grid-item--width3 { width: 750px;}
.grid-item--width4 { width: 1000px;}

.grid-item--height2 { height: 500px; }
.grid-item--height3 { height: 750px; }
.grid-item--height4 { height: 1000px; }

#first {
  background-image: url('../images/placehold250250.png');
}

#second {
  background-image: url('../images/placehold500250.png');
}

#third {
  background-image: url('../images/placehold250250.png');
}
