body {
    font-family: 'Arimo', sans-serif;
    width: 100%;
}

section {
    width: 100% !important;
}

nav {
    width: 100%;
}

#page-jumbo {
    background-image: url('../img/lined_paper.png');
    padding: 5% 0;
    width: 100%;
    font-size: 100%;
}

#portfolio-section {
    margin-top: 40px;
}
.row-wrapper {
    text-align: center;
    margin: 15px 0;
}

.portfolio-wrapper {
    display: block;
    margin: 0 auto;
}

.portfolio-item {
    background-image: url('http://placehold.it/300x300');
    height: 300px;
    width: 300px;

    margin: 0 auto;

}

/*
/////////////////////////
        Typed Cursor
/////////////////////////
*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/*
/////////////////////////
        Media Queries
/////////////////////////
*/


/*sm*/

@media (max-width: 2000px) {
    .portfolio-item {
    background-image: url('http://placehold.it/250x250');
    height: 250px;
    width: 250px;
    margin: 0 auto;

}
}

@media (max-width: 960px) {
    .portfolio-item {
    background-image: url('http://placehold.it/200x200');
    height: 200px;
    width: 200px;
    margin: 0 auto;
}
}